html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#myVideo {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: fill;
}

.overlay-video {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  text-align: center;
  border-radius: 10px;
}

.flash-msg {
  position: absolute;
  top: 5%;
  left: 25%;
  right: 25%;

  text-align: center;
  border-radius: 10px;
}

#register-div {
  width: 25vw;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.5);
}

input {
  width: 15vw;

  border: 1px solid lightslategrey;
  background-color: rgba(255, 255, 255, 0.5);
}

#register-img {
  height: 95vh;
  width: 100vw;
  background: linear-gradient(to right, transparent, rgb(57, 91, 100)),
    url(/static/images/reddit-design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#search-div {
  width: 45vw;
  height: 55vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}
.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}

.img-thumbnail {
  height: 150px;
  width: 150px;
}

#search-data-container {
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(87, 111, 114);
}

#save-data-container {
  background: url(/static/images/MInimalist-landscape-night-moon.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#register-img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#search-img {
  width: 100%;
  height: 100%;
  background: url(/static/images/search-tree.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.flash-msg {
  z-index: 2;
}
