{% extends 'base.html' %} {% block content %}


<div class="container-fluid m-5">
    <div class="d-flex flex-row justify-content-start m-5 pb-5" style="margin-bottom:20vh;">
        <div>
            <h2 class="display-3"> <p style=" border-bottom: 2px solid green;">Look no further weary</p><p style=" border-bottom: 2px solid green; width: min-content;">traveler!</p></h2>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between m-5">
        <div class="container-sm" style="height:20vh;">
            <h2>Active Access’s Campground API</h2>
            <p>The Active Acccess Campground APIs, backed by Reserve America's database, provides access <br> to campground data for 97% of the US and Canada's national and state/provincial parks.</p>
            <button onclick="location.href='https://developer.active.com/docs/read/Campground_APIs';" class="btn btn-outline-info btn-sm px-5">Learn more</button>
        </div>
        <div class="container-sm">
            <h2>Technology</h2>
            <p>Campout if a fullstack web application that utilizes Flask for the back-end and HTML, CSS, and Javascript in the front-end.<br> Data is stored on a PostgreSQL database. Important libraries used are Bootstrap, jQuery.<br> SQLAlchemy, and WTForms.  </p>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between m-5">
        <div class="container-sm" style="height:20vh;">
            <h2>How Does it Work?</h2>
            <p>Campout uses the above API to find campground data based on the users location. Campout has up to 12 filters<br>
                when site searching to narrow down exactly what site you are looking for. Users can then save sites they come<br>
                across which can be found in there account page. Campout also has a recomendation feature that takes a users saved<br>site and finds new sites based off of location and amenities!
            </p>
        </div>
        <div class="container-sm">
            <h2>More?</h2>
            <p>Click the link below to see Campout’s Github repo.</p>
            <button onclick="location.href='https://github.com/jdarling96/Campout-capstone-1';" class="btn btn-outline-info btn-sm px-5">Learn more</button>
        </div>
    </div>
    
  </div>




{% endblock %}