{% extends 'base.html' %} {% block content %}

<div class="d-flex justify-content-center" style="margin-top: 20vh;">
   <div id="register-div" class="d-flex flex-column justify-content-center align-items-center p-1" style="border: 2px solid lightslategray; border-radius: 10px;">
    <h2 class='justify-content-center mb-5'>Register</h2>
    <form action=""> 
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
   <div class="p-1">
    <p class="h6 mb-2">{{field.label}}</p>
    {{field(placeholder=field.label.text, style='border-radius: 5px;')}}
     </div>
   {% endfor %}
   <button class="btn btn-warning mt-3" type="submit">Register</button>

   <div class="mt-4">
    <p>Already have an account?</p>
    <button onclick="window.location.href='/login'" type="button" class="btn btn-info btn-md" style="width: 8vw;">Login</button>

   </div>
</div> 
</form>


</div>

{% endblock %}

